@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.navbar {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.190);
    padding: 40px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

button {
    font-family: 'Work Sans', sans-serif;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
}